@{
    ViewBag.Title = "Ayuda";
}

<div class="jumbotron">
    <h1>Ayuda</h1>
</div>

<div class="row">
    <div>
        <h4>Partidos</h4>
        <ul>
            <li>Tienes tiempo para cargar tus pronósticos hasta el momento mismo en que arranque cada partido.</li>
            <li>Puedes cargar y modificar tus pronósticos tantas veces quieras, pero una vez comenzado cada partido, ya no tienes posibilidad de modificar el pronóstico de ese partido.</li>
            <li>Al finalizar el partido, se actualiza el resultado del mismo y puedes verificar los puntos que obtuviste con tu pronóstico.</li>
            <li>Durante la segunda fase, cuando los partidos se definen por penales en caso de empate, si tu pronóstico es un empate, debes pronosticar también el resultado de los penales.</li>
        </ul>
        <h4>Puntos</h4>
        <ul>
            <li>Por pronosticar acertadamente el ganador del partido, o si es un empate, obtienes <strong>3 puntos</strong>.</li>
            <li>Por pronosticar acertadamente los goles del partido, o sea, el resultado exacto, obtienes otros <strong>3 puntos</strong>.</li>
            <li>
                También puedes conseguir <strong>1 punto extra</strong> (y solo uno) por cada pronóstico, sin importar si acertaste el ganador o el resultado exacto:
                <ul>
                    <li>Si aciertas la cantidad de goles de uno de los dos quipos.</li>
                    <li>Si aciertas la diferencia de goles entre los dos quipos, siempre que no sea un empate.</li>
                    <li>O si aciertas los penales exactos en caso de un empate en la segunda fase.</li>
                </ul>
            </li>
            <li>
                En cada partido puedes obtener:
                <ul>
                    <li><strong>1 punto:</strong> por acertar los goles de uno de los equipos o la diferencia de goles.</li>
                    <li><strong>3 puntos:</strong> por acertar el ganador o si hay un empate.</li>
                    <li><strong>3 puntos:</strong> por acertar el resultado exacto de un empate en segunda ronda, pero no acertar quien gana los penales.</li>
                    <li><strong>4 puntos:</strong> por acertar el ganador, y los goles de uno de los equipos o la diferencia de goles.</li>
                    <li><strong>4 puntos:</strong> por acertar un empate y los penales exactos en un partido se la segunda ronda.</li>
                    <li><strong>6 puntos:</strong> por acertar el resultado exacto. O sea, 3 por el ganador o empate + 3 por los goles exactos.</li>
                    <li><strong>7 puntos:</strong> por acertar los goles exactos de un empate y los penales exactos de un partido de la segunda fase.</li>
                </ul>
            </li>
        </ul>
        <h4>La Tabla</h4>
        <ul>
            <li>La tabla queda ordenada por la cantidad de puntos totales obtenidos en todos los partidos.</li>
            <li>En caso de igualdad de puntos, quedara ordenado primero el que haya acertado mayor cantidad de resultados exactos.</li>
            <li>Si continua la igualdad, quedara ordenado primero el que haya sumado la mayor cantidad de puntos extra.</li>
        </ul>
    </div>
</div>