body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table.table-matches .match-goals,
.table.table-matches .match-penalties
{
    width: 80px;
}

.progress-circle {
    width: 46px;
    height: 60px;
    margin-top: -20px;
    padding-top: 14px;
}

.alert.alert-fixed-bottom {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
    border-color: #c0e1f2;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}

.btn-group-justified > .btn-group .btn {
    width: 100%;
}

/* Bootstrap overrides */
nav {
    margin-bottom: 50px;
}
    ul.navbar-nav > li {
        margin-left: 15px;
    }

div.row {
    margin-bottom: 15px;
}

div.row > div {
    width: 100%;
}

.btn-group, .btn-group-vertical {
    display: inline-block;
}

input[type=number] {
    font-size: 2rem;
}

.active-user {
    font-weight: bold;
}

.table-matches tr > td {
    vertical-align: middle;
}