@{
    ViewBag.Title = "Partidos";
}

<div class="jumbotron">
    <h1>Administración de Partidos</h1>
    @Html.ActionLink("Nuevo", "NewMatch", "Admin", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div>
    </div>
</div>