@model MatchFilter

@{
    ViewBag.Title = "Partidos";

    var stages = MatchStagesHelper.MatchStages.ToList();
    stages.Insert(0, new SelectListItem { Value = null, Text = "Todos" });
}

@section Scripts
{
<script>
    $('.match-save').click(function (obj) {
        window.helpers().saveMatch(obj, '@Url.Action("SetMatchResult", "Admin")');
    });
    $('.match-calculate').click(function (obj) {
        var $target = $(obj.target),
            matchId = $target.data('match-id');

        window.location.href = '@Url.Action("GetMatchBetsResults", "Admin")?matchId=' + matchId;
    });
</script>
}

<div class="jumbotron">
    <h1>Administración de Partidos</h1>
    @Html.ActionLink("Nuevo", "NewMatch", "Admin", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div>
        @Html.Action("AllMatchesPartial", "Matches", new MatchesListRequest { AllowSaveResults = true, AllowCalculateResults = true, MatchStage = Model.MatchStage })
    </div>
</div>