@{
    Layout = null;
}

<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <title>Unauthorized</title>
    <style>
        body {
            background: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <div>
        <h3>Sorry, you are not authorized for this app.</h3>
    </div>
</body>
</html>